*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color:  #76d7c4 ;
}
header{
    background: #27ae60;
    color: antiquewhite;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 90%;
    height: 90px;
    margin: 10px 15px 5px 20px;
    text-align: right;
    padding: 10px;
    border-bottom-style:solid ;/* coloca borde inferior a la cabecera*/
    border-bottom-color:#145a32  ;/*color del borde inferior*/
    border-block-end-width: 7px;/*tamaño del borde*/
}

ul{
    list-style: none;/*para quitar los estilos de los puntos a las listas*/
}
.ni li a{
 background-color: #7dcea0 ;
 color: aliceblue;
 text-decoration: none;
 padding: 10px 15px;
 display: block;
 text-align: center;
}
.ni li a:hover{
    background-color: #abebc6;
}
.ni>li{
    float: right;
}
.ni li ul{
    display: none;/*desaparece los submenus*/
    position: absolute;/*posicion de acuerdo a la anterior*/
    min-width: 90px;/*mueve a la derecha los menus*/
}
.ni li:hover>ul{
    display: block;

}
/*ajustar los submenus de los submenus*/
.ni li ul li{
    position: relative;
}
.ni li ul li ul{
    right: 100px;
    top: 0px;

}

/* From Uiverse.io by ammarsaa */ 
.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 350px;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    background-color: #1a1a1a;
    color: #fff;
    border: 1px solid #333;
  }
  
  .title {
    font-size: 28px;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
    color: #27ae60;
  }
  
  .title::before {
    width: 18px;
    height: 18px;
  }
  
  .title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
  }
  
  .title::before,
  .title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color:#27ae60;
  }
  
  .message, 
  .signin {
    font-size: 14.5px;
    color: rgba(255, 255, 255, 0.7);
  }
  
  .signin {
    text-align: center;
  }
  
  .signin a:hover {
    text-decoration: underline #27ae60;
  }
  
  .signin a {
    color:#27ae60;
  }
  
  .flex {
    display: flex;
    width: 100%;
    gap: 6px;
  }
  
  .form label {
    position: relative;
  }
  
  .form label .input {
    background-color: #333;
    color: #fff;
    width: 100%;
    padding: 20px 05px 05px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
  }
  
  .form label .input + span {
    color: rgba(255, 255, 255, 0.5);
    position: absolute;
    left: 10px;
    top: 0px;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
  }
  
  .form label .input:placeholder-shown + span {
    top: 12.5px;
    font-size: 0.9em;
  }
  
  .form label .input:focus + span,
  .form label .input:valid + span {
    color: #27ae60;
    top: 0px;
    font-size: 0.7em;
    font-weight: 600;
  }
  
  .input {
    font-size: medium;
    
  }
  
  .bot{
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: .3s ease;
    background-color:#27ae60;
    float: left;
  }
  .cal{
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: .3s ease;
    background-color:#27ae60;
    float: left;
  }
  
  .submit {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: .3s ease;
    background-color:#27ae60;
  }
  
  .submit:hover {
    background-color: #27ae60;
  }
  
  @keyframes pulse {
    from {
      transform: scale(0.9);
      opacity: 1;
    }
  
    to {
      transform: scale(1.8);
      opacity: 0;
    }
  }
  .wh{
    height: 40 px;
     width: 40px;
     box-shadow: 0px 0px 0px ;
     position: fixed;
     right: 15px;
     top: 85%;
    
     
 }